<div class="container d-flex mt-5 align-itmes-center justify-content-center">

    <div class=" mt-5 align-itmes-center justify-content-center " style="width: 25rem;">
        {{#if regErr}}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Password dosen't match!</strong> Please enter correct password.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {{/if}}
        {{#if emailErr}}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>User already exists!</strong> Please login or enter valid email.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {{/if}}
        {{#if nullErr}}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Fields cannot be empty!</strong> Please fill the values.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {{/if}}
        <form action="/login" method="POST" enctype="multipart/form-data">
            <h4>Register</h4>

            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Name</label>
                <input type="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="name"
                    >
            </div>

            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                    name="email" >
            </div>

            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" name="password" >
            </div>

            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Confirm Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" name="password" >
            </div>

            <div class="row d-flex justify-content-between">
                <button type="submit" class="btn btn-primary" style="margin-left: 1rem;">Register</button>
            <div id="register-link" class="text-right">
                <a href="/login" class="btn btn-primary">Login</a>
            </div>
            </div>
            

        </form>
    </div>


</div>